/.env
/app/.env
/app/vendor/
/app/node_modules/
/app/public/build/
/app/public/hot
/app/storage/*.key
/app/storage/app/*
!/app/storage/app/.gitignore
/app/storage/framework/cache/*
!/app/storage/framework/cache/.gitignore
/app/storage/framework/cache/data/*
!/app/storage/framework/cache/data/.gitignore
/app/storage/framework/sessions/*
!/app/storage/framework/sessions/.gitignore
/app/storage/framework/testing/*
!/app/storage/framework/testing/.gitignore
/app/storage/framework/views/*
!/app/storage/framework/views/.gitignore
/app/storage/logs/*
!/app/storage/logs/.gitignore
/logs/
/public_html/
/.docker-data/
